{% extends "blog/base.html" %}	
	
{% load staticfiles %}
{% block style %}
<style>
div.detail{width:738px;height:150%;margin:0;padding:0;text-align:left;float:right;background:url({% static 'blog/images/bg_detail.jpg' %}) repeat-y;}
div.detail h1{margin:0;padding:1em 0 0.3em 0;text-align:center;}
#date{text-align:center;font-size:14px;}
div.detail p{font-size:18px;text-indent:2em;}
</style>
{% endblock %}
{% block content %}
	<div class="detail">
	<h1>{{blog_detail.article_name }}</h1>
	<p id="date">{{blog_detail.pub_date}}</P>
	<p>{{ blog_detail.body }}</p>
	</div>
{% endblock %}
