<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>James Long</title>
{% load staticfiles %}
<link href="{% static 'blog/political.css' %}" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
.style1 {
	color: #5c8bc7
}
-->
</style>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <div id="container">
    <div class="banner"><img src="{% static 'blog/images/banner.gif' %}" alt="Banner" width="726" height="88" /></div>
    <div class="searcbar">
      <label></label>
    <input name="textfield" type="text" class="input01" id="password" />
          <label>
      <select name="user" class="select02" id="user">
        <option>People</option>
          </select>
      </label>
          <label>
          <input type="submit" name="Search" id="Search" value="Search" />
          </label>
    </div>
    <div class="navigation">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/photos/">Photos</a></li>
        <li><a href="/blogs/">Blogs</a></li>
        <li><a href="/friends/">Friends</a></li>
        <li><a href="/hobbies">Hobbies</a></li>
        <li><a href="/favorites">Favorites</a></li>
        <li><a href="/forum">Forum</a></li>
        <li><a href="/groups">Groups</a></li>
        <li><a href="#">Events</a></li>
        <li> <a href="#">MySpaceTV</a></li>
        <li><a href="#">Music</a></li>
        <li><a href="#">Comedy</a></li>
        <li><a href="#">Classifieds</a></li>
      </ul>
    </div>
    <div class="topbar"><span style="width:180px; float:left;"><span class="img-photo"><img src="{% static 'blog/images/james.jpg' %}" alt="Photo" width="170" height="170" /></span></span>
      <div style="width:560px; float:right;"><div style="height:70px; margin-bottom: 8px;">
    <div style="width:260px; float:left;"><span class="toptitle">James</span><br />
      <br />
    View My:  Photos Videos</div>
    <div style="width:240px; float:right; text-align: right;">www.yukunlong.com/blog<br />
        <br />
          Send Message<br />
      Add Comment</div>
    </div></div><div style="width:560px; float:right;"><div style="height:70px; border-style: solid; border-width: 1px; padding: 5px; border-color: #CCCCCC; background-color: #000000;">James long<br />
      21/ Male<br />
      NCU China<br />
      Major: CS</div>
    </div>
    </div>
    
    <div id="contentarea">
      <div class="rightcolumn">
        <div class="column">
          <div class="titlebar">
            <h1>Blurbs</h1>
          </div>
          <div class="content-inner">
            <span class="boxtitle">About me:            </span>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec.</p>
            <p class="boxtitle">Who I’d like to meet:</p>
            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.          </div>
        </div>
        <div class="column">
          <div class="titlebar">
            <h1>Friend Space (Top 10)</h1>
          </div>
          <div class="content-inner">
            You haven't added any friends yet.<br />
              To start having fun on MySpace you need to invite some friends and get <br />
              the ball rolling!<br />
            (Invite Your Friends Here)          </div>
        </div>
        <div class="column">
          <div class="titlebar">
            <h1>Comments</h1>
          </div>
          <div class="content-inner">
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
          </div>
        </div>
      </div>
      <div class="leftcolumn">
        <div class="column">
          <div class="titlebar">
            <h1>Interests</h1>
          </div>
          <div class="leftbar1">
             <span class="boxtitle">General</span><br />
            Lorem ipsum dolor conseqout.<br class="clearboth" />
          </div>
          <div class="leftbar2">
             <span class="boxtitle">Music</span><br />
            Pop Music, Jazz, Instrumental.<br class="clearboth" />
          </div>
          <div class="leftbar1">
             <span class="boxtitle">Movies</span><br />
            Movies Title<br class="clearboth" />
          </div>
          <div class="leftbar2">
             <span class="boxtitle">Television</span><br />
            Drama Titles<br class="clearboth" />
          </div>
        </div>
        <div class="column">
          <div class="titlebar">
            <h1>DETAILS</h1>
          </div>
          <div class="leftbar1">
             <span class="boxtitle">Status :</span> Single<br class="clearboth" />
          </div>
          <div class="leftbar2">
             <span class="boxtitle">Here for : </span>Friends<br class="clearboth" />
          </div> 
          <div class="leftbar1">
             <span class="boxtitle">Body Type :</span> Slim<br class="clearboth" />
          </div>
          <div class="leftbar2">
             <span class="boxtitle">Ethnicity  :</span> Asian<br class="clearboth" />
          </div> 
          <div class="leftbar1">
             <span class="boxtitle">Religion :</span> Other<br class="clearboth" />
          </div>
          <div class="leftbar2">
             <span class="boxtitle">Zodiac Sign :</span> Leo<br class="clearboth" />
          </div>
          <div class="leftbar1">
             <span class="boxtitle">Children :</span> I don't like kids<br class="clearboth" />
          </div>
          <div class="leftbar2">
             <span class="boxtitle">Smoke / Drink :</span> No / No<br class="clearboth" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <br class="clearboth" />
  <div class="footer">
    <ul>
      <li>
      Help      </li>
      <li>Terms</li>
      <li>Privacy Policy</li>
      <li>Safety Tips</li>
      <li>Report Abuse</li>
      <li>Advertise</li>
      <li>Developers</li>
      <li>MySpace International</li>
      <li>lMySpace Latino </li>
    </ul>
    <p>©2003-2009 MySpace.com. All Rights Reserved. </p>
  </div>
</form>
</body>
</html>
